<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Find Book</title>
  <meta name="description" content="Homepage for Book finder application">
  <meta name="RajGM" content="BookFinder">

  <link rel="icon" href="/assets/favicon.png">
  <!--Icons made by https://www.flaticon.com/authors/srip... -->
  
</head>

<body>
  <!-- your content here... -->
  Index.html page is working 
  <script src="/javaScript/indexpage.js"></script>
  <link rel="stylesheet" type="text/css" href="/visualization/indexpage.css" />
</body>
</html>